@using WeatherApp.Models;
@using WeatherApp.UseCases.Interfaces;

@inject IViewCityForecastUseCase ViewCityForecastUseCase

@if (forecast != null)
{
    <h1>Temp: @forecast.TemperatureF °F</h1>
    <h1>Place: @forecast.ZipCode </h1>
    <h1>Wind (Mph): @forecast.WindInMph </h1>
    <h1>Feels like (F): @forecast.FeelsLikeInFahrenheit </h1>
    <h1>Humidity: @forecast.Humidity </h1>
}

@code {
    private Forecast forecast;

    [Parameter]
    public int SearchZip { get; set; } = 1;

    // Triggered when a new forecast has been selected
    protected override async Task OnParametersSetAsync()
    {
        forecast = await ViewCityForecastUseCase.ExecuteAsync(this.SearchZip);
    }

}
